@model Business.DTOs.RegisterDTO

@{
    ViewData["Title"] = "Register";
    Layout = "_AccountLayout";
}

<div class="mx-auto col-md-3 col-sm-5 mt-5">
    <div class="text-center">
        <h4>Rent-a-<span class="logo-third">Ride</span></h4>
    </div>
    <div class="row">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input type="text" asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input type="text" asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                @* <input type="text" asp-for="Country" class="form-control" /> *@
                <select asp-for="Country" class="form-control">
                </select>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="d-grid my-2">
                <input type="submit" value="Sign Up" class="btn btn-outline-success" />
            </div>
            <div class="text-center">
                <p>Back to <a href="@Url.Action("Login", "Account")">Login</a></p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(() => {
            // Check if countries are already stored in localStorage
            let countries = localStorage.getItem('countries');
            if (countries) {
                // If countries are stored, parse them from localStorage
                countries = JSON.parse(countries);
                // Bind countries to dropdown
                bindCountries(countries);
            } else {
                // If countries are not stored, fetch them from API
                fetch("https://restcountries.com/v3.1/all")
                    .then(response => response.json())
                    .then(result => {
                        // Extract country names and sort alphabetically
                        countries = result.map(country => country.name.common).sort();
                        // Store countries in localStorage
                        localStorage.setItem('countries', JSON.stringify(countries));
                        // Bind countries to dropdown
                        bindCountries(countries);
                    })
                    .catch(error => console.error('Error fetching countries:', error));
            }
        })


        // Function to bind countries to dropdown
        function bindCountries(countries) {
            const dropdown = document.getElementById('Country');
            // Clear existing options
            dropdown.innerHTML = '';
            // Add default option
            const defaultOption = document.createElement('option');
            defaultOption.value = '';
            defaultOption.text = 'Select Country';
            dropdown.appendChild(defaultOption);
            // Add countries to dropdown
            countries.forEach(country => {
                const option = document.createElement('option');
                option.value = country;
                option.text = country;
                dropdown.appendChild(option);
            });
        }


    </script>

}
