@model Presentation.Models.ContactUsModel

@{
    ViewData["Title"] = "ContactUs";
}

<div class=" mx-auto col-md-5 mt-5">
    <div class="row">
        <div class="text-center my-5">
            <p><strong>Whatsapp</strong>: <a href="https://api.whatsapp.com/send/?phone=441632960121&text&type=phone_number&app_absent=0" target="_blank">+44 1632 960121</a></p>
            <p><strong>Phone</strong>: <a href="tel:+44 1632 960121">+44 1632 960121</a></p>
            <p><strong>Email</strong>: <a href="mailto:rentaride@mailinator.com">rentaride@mailinator.com</a></p>
        </div>
    </div>
</div>


